@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<head>
    <style>
        .gm-control-active > img {
            box-sizing: content-box;
            display: none;
            left: 50%;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%)
        }

        .gm-control-active > img:nth-child(1) {
            display: block
        }

        .gm-control-active:hover > img:nth-child(1), .gm-control-active:active > img:nth-child(1) {
            display: none
        }

        .gm-control-active:hover > img:nth-child(2), .gm-control-active:active > img:nth-child(3) {
            display: block
        }
    </style>
    <style>
        .gm-ui-hover-effect {
            opacity: .6
        }

        .gm-ui-hover-effect:hover {
            opacity: 1
        }
    </style>
    <style>
        .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
            font-size: 10px;
            box-sizing: border-box
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700">
    <style>
        .gm-style-pbc {
            transition: opacity ease-in-out;
            background-color: rgba(0,0,0,0.45);
            text-align: center
        }

        .gm-style-pbt {
            font-size: 22px;
            color: white;
            font-family: Roboto,Arial,sans-serif;
            position: relative;
            margin: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%)
        }
    </style>
    <style>
        .gm-style img {
            max-width: none;
        }

        .gm-style {
            font: 400 11px Roboto, Arial, sans-serif;
            text-decoration: none;
        }
    </style>
    <link rel="dns-prefetch" href="//resources-urw.azureedge.net">
    <link rel="dns-prefetch" href="//images-urw.azureedge.net">
    <link rel="dns-prefetch" href="//www.gstatic.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Åbningstider - Fisketorvet Copenhagen Mall</title>
    <meta name="title" content="Åbningstider - Fisketorvet Copenhagen Mall">
    <meta name="description" content="Åbningstider på FIsketorvet. Centret har åbent kl. 10 - 20 hverdage. Hver lørdag og søndag kl. 10 - 20. Restauranter, Føtex, Lidl, fitness dk og CinemaxX har udvidede åbningstider alle ugens dage på Fisketorvet">
    <meta name="keywords" content="FIsketorvet har åbent kl. 10 - 20 hverdage. Hver lørdag og søndag kl. 10 - 20. Restauranter, Lidl, Føtex, fitness dk og CinemaxX har udvidede åbningstider alle ugens dage, Åbningstider Fisketorvet">
    <meta name="language" content="Danish (Denmark)">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Åbningstider - Fisketorvet Copenhagen Mall">
    <meta property="og:description" content="Åbningstider på FIsketorvet. Centret har åbent kl. 10 - 20 hverdage. Hver lørdag og søndag kl. 10 - 20. Restauranter, Føtex, Lidl, fitness dk og CinemaxX har udvidede åbningstider alle ugens dage på Fisketorvet">
    <meta property="og:locale" content="da-DK">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.fisketorvet.dk/access">
    <meta property="og:image" content="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/centre/logo/zqrtihx15qwrcs8s25ki.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="Åbningstider - Fisketorvet Copenhagen Mall">
    <meta name="twitter:description" content="Åbningstider på FIsketorvet. Centret har åbent kl. 10 - 20 hverdage. Hver lørdag og søndag kl. 10 - 20. Restauranter, Føtex, Lidl, fitness dk og CinemaxX har udvidede åbningstider alle ugens dage på Fisketorvet">
    <meta name="twitter:url" content="https://www.fisketorvet.dk/access">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/centre/logo/zqrtihx15qwrcs8s25ki.jpg">
    <meta name="google-site-verification" content="uS780wVFaAALJBAdff1a_qxoA2E6fMgcHej0HddY4G0">
    <link rel="shortcut icon" type="image/png" href="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/Global/favicon-96x96.ashx?mh=96&amp;mw=96&amp;revision=0f428d97-cd12-498f-b25c-d65eaa0bbd6c&amp;hash=20862417ABADE3D459A0A72475545188">
    <link rel="apple-touch-icon" type="image/png" href="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/Global/favicon-96x96.ashx?mh=96&amp;mw=96&amp;revision=0f428d97-cd12-498f-b25c-d65eaa0bbd6c&amp;hash=20862417ABADE3D459A0A72475545188">
    <link rel="stylesheet" href="https://resources-urw.azureedge.net/css/fisketorvet.min.css?version=20201122.1">
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NMH6ZV9"></script>
    <script>
    var gtmContainerId = 'GTM-NMH6ZV9';
    var storeSIName = '';
    var currentPageItemName = 'access';
    var currentPageItemDisplayName = 'access ';
    var storeId = '';
    var language = 'Danish (Denmark)';
    var centerId = '3073';
    var premiumBankName = '';
    var connectOptionEmail = 'Email';
    var taggingTool = 'GTM';
    var socialCookieAllowed = 'False'
    var isEuropeanSite = 'True';
    var isMyRewardsEnabled = 'False';
    var myRewardsPage = '/myrewards';
    var languageIso = 'dan';
    var loggerCodePermanentSignin = '230';
    var loggerMsgPermanentSignin = 'permanent signin ';
    var isPermanentSigninCookie = 'IsPermanentSignin';
    var rememberMeCookie = 'RememberMe';
    var androidbanner = 'GooglePlay';
    var itunesbanner = 'I App Store';
    var contextLang = 'da-DK';
    var redirectPage = '/Redirect.aspx?url=';
    var profilePage = '/profile';
    var serviceDetailPage = '/service-detail';
    var movieDetailPage = '/movie';
    var premiumSignupPage = '/activate-new-advantages';
    var personalinfoPage = '/personalinfo';
    var homePage = '/homepage';
    var centerPage = '/centre';
    var accessPage = '/access';
    var accountInfo = '/api/sitecore/URProfile/GetAccountInfo';
    var myInfoPage = 'profile';
    var registrationPage = 'registration';
    var bookingPage = '/booking';
    var premiumCodeStart = 'prem_' + 'start';
    var code_prem_add_start = 'prem_' + 'add_' + 'start';
    var code_prem_iban_start = 'prem_' + 'iban_' + 'start';
    var code_prem_invalid_credentials_start = 'prem_' + 'invalid_credentials_' + 'start';
    var code_BankPremium = 'bank_' + 'premium';
    var code_RestaurantPremium = 'restaurant_' + 'premium';
    var premiumMessageStart = 'Start of premium registration';
    var premiumMessageStartBank = 'Bank type choice';
    var premiumMessageStartRestaurant = 'Restaurant type choice';
    var message_prem_add_start = 'Starting adding premium registration';
    var message_prem_iban_start = 'Starting updating IBAN';
    var message_prem_invalid_credentials_start = 'Starting updating credentials';
    var TC = 'tc';
    var storePage = 'https' + '://' + 'www.fisketorvet.dk' + '/store' + '/';
    var searchPage = 'search';
    var storePageName = 'store';
    var restaurantPageName = 'restaurant';
    var bankAssociationPageItemName = 'bank account association';
    var manageCredentialsPageItemName = 'manage my credentials';
    var gamePageItemName = 'gamepage';
    var currentPageDisplayName = 'access';
    var popupClass = ' .modal-popin-trends';
    var destinationQueryString = 'destination=';
    var emailQueryString = 'email=';
    var isPremiumCenter = 'False';
    var userTypePremium = '';
    var hasPremiumBank = '';
    var hasPremiumRestaurant = '';
    var hasPremiumScan = '';
    var howItWorksPage = '/how-it-works';
    var gamePage = '/gamepage';
    var loginPage = '/login';
    var tcInvalidERRORBankorRestaurantCookieName = 'InvalidErrorBankOrRestaurant';
    var tcErrorCookieName = 'TCError';
    var invalidCredentialsErrorCode = 'invalidCredentials';
    var missingIbanErrorCode = 'missingIban';
    var cashbackRejectedErrorCode = 'cashbackRejected';
    var captchaSiteKey = '6Lfc03YUAAAAAIqwBDooAxfIZJEPQ1ANLS4SH5kU';
    var successMsg = '';
    var loyaltyAccountAlreadyAvailable = 'Account Already Available';
    var loyaltyAccountNotAvailable = 'Account Not Available';
    var loyaltySuccessUrl = '/api/sitecore/Popin/LoyaltySuccesspopin';
    var loyaltyFailedUrl = '/api/sitecore/Popin/LoyaltyFailedpopin';
    var rememberMeCookieExpire = '13';
    var cookieExpiryMinutes = '30';
    var cookieOfferOptinExpiryDays = '60';
    var storeLandingPage = 'stores';
    var restaurantLandingPage = 'restaurants';
    var newsDetailPage = 'news-detail';
    var loginType = 'login|offers|services|news|bookmarks|registration|signup|loyalty|linkmycard|storedetail';
    var isDetailPage = 'False';
    var isNewsPage = 'False';
    var isHomepage = 'False';
    var successmessages = 'Successfully Registered Basic';
    var siteContainerNamesArr = [];
    var footerscriptPath = 'https://resources-urw.azureedge.net/js/footerscripts.min.js?version=20201122.1';
    var androidAppId = 'com.unibail.fisketorvet';
    var itunesAppId = '435126712';
    var iTunesAppIconUrl = '';
    var selectedLanguageISO = 'da';
    var centerName = ' Fisketorvet';
    var smartAppBannerCTA = 'Vis';
    var iTunesStore = 'I App Store';
    var androidStore = 'GooglePlay';
    var smartAppBannerPrice = 'Gratis';
    var isIpLabelEnable = 'False';
    var clobsUrl = 'https://resources-urw.azureedge.net/js/clobs.js?version=20201122.1&amp;id=unibail&amp;i=9&amp;v=1&amp;date=201701271400';
    var isAppWebView = (false);
    var googleMapUrl = 'https' + '://maps.googleapis.com/maps/api/js?language=' + 'da-DK' + '&key=' + 'AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk';
    var ccLoop;
    var footerScriptLoop;
    var defaultImage = '/img/default.png';
    var isNewBrandedSite = 'False';
    var urContextSite = 'Fisketorvet';
    var siteUrlPrefix = '';
    var mapjs = 'https://resources-urw.azureedge.net/js/vg.mapviewer.web.js?version=20201122.1';
    var deleteAccountUrl = '/api/sitecore/Popin/DeleteBasicAccountPopin';
    var deleteAccountSuccess = 'Account Deleted';
    var luxStoreType = '1036';
    var luxRestaurantType = '1037';
    var newStoreNoOfDays = '30';
    var storeSearchTitle = 'Butikker og Restauranter';
    var servicesSearchTitle = 'Services';
    var filmsSearchTitle = 'cinemas_title';
    var emailConfPending = 'email_confirmation_pendingaccount';
    var searchNewTag = 'Nyhed!';
    var searchDistributorDefaultImage = '/img/default.png';
    var luxApiKey = 'aWxtpBUW91nHjG1J8RYdCs1C3OeBazmCJE4OGWOw5Ex88nhZyoeOzOrJzFXU5ZkSvXOaDQqs0JC+bV/txL6sGdEeGigjtO6maj3DjYXuKAo=';
    var luxApiURL = 'https://api.westfield.com/v1/';
    var region = 'EU';
    var redirectUrlMosaic;</script>
    <script src="https://resources-urw.azureedge.net/js/vendor.min.js?version=20201122.1" async=""></script>   <!--[if lt IE 9]> <script src="~/scripts/respond.min.js"></script> <![endif]-->
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/geometry.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/directions.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/layers.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/infowindow.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/42/9/intl/da_ALL/controls.js"></script>
</head>

<div class="content" id="content">
    <div class="breadcrumb-list">

        <div class="container"> <ol class="breadcrumb" style="white-space: unset;"> <li class="breadcrumb-item"> <a href="/"> Fisketorvet</a> </li> <li class="breadcrumb-item active"> Åbningstider </li> </ol> <a class="ellipses" href="javascript:void(0);" style="display: none;">...</a> </div>
    </div> <div class="anchor-navigation no-logo">   <div class="container"> <h1 class="page-title text-uppercase"> ÅBNINGSTID &amp; OVERSIGT </h1> <ul class="nav d-none d-sm-flex"> <li><a href="#opening-hours" class="text-uppercase scrollTo subanchors d-block"> Åbningstider</a></li> <li><a href="#exceptional-opening" class="text-uppercase scrollTo subanchors d-block"> Specielle åbningstider</a></li>  <li><a href="#access-center" class="text-uppercase scrollTo subanchors d-block"> Find vej</a></li> <li><a href="#contact" class="text-uppercase scrollTo subanchors d-block"> Kontakt</a></li> </ul> </div> </div> <section id="opening-hours" class="exceptional-opening-closing-block even"> <div class="img-wrap"> <img src="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/brand/ft_devices_1080x378.ashx?revision=789dc5b9-25a3-4a44-923f-b291e89c398b&amp;mh=459&amp;h=378&amp;w=1080&amp;la=da-DK&amp;hash=5B5C2BAD23AB2FD41160F87B7360B4D0" alt="Information og åbningstider"> </div> <div class="container"> <div class="row position-relative justify-content-center"> <div class="col-12 col-md-6"> <div class="exceptional-opening-closing-wrap text-center"> <div class="title mb-2 active text-uppercase">Åben i dag</div> <div class="opening-hours mb-4"> 10:00 til 20:00 </div> <a href="#accessinfo" class="mt-4 link-button btn-white-transparent scrollToHidden gtmSeeOpeningHours" data-gtmevent="openingHours" data-expand-elem="heroonctaopeninghrs">ALLE ÅBNINGSTIDER</a> </div> </div> <div class="col-12 push-wrap "> <div class="title text-uppercase">Særlige åbningstider</div> <div class="day font-weight-bold">27. november</div> <div class="mt-1 fs-16 open-sans">Black Friday</div> <div class="action"> <a class="link-button btn-white-transparent scrollToHidden" href="#exceptional-opening">Se alle</a> </div> </div> </div> </div> </section> <section class="odd"> <div class="container"> <div class="our-offer "> <div class="row isflex"> <div id="1" class="col-12 col-md-6 col-lg-3 col bg-main text-light"> <div class="item "> <div class="picto-wrap"> <i class="picto picto icon-supermarket"></i> </div> <h3 class="whats-hot-title text-uppercase"> <span> <br> FØTEX </span> </h3> <div class="description"> <p> <span> MANDAG til SØNDAG </span> :<br> <span class=" title-light">Fra 07:00 til 21:00</span> </p> </div> </div> </div> <div id="2" class="col-12 col-md-6 col-lg-3 col bg-light text-light"> <div class="item "> <div class="picto-wrap"> <i class="picto picto icon-supermarket"></i> </div> <h3 class="whats-hot-title text-uppercase"> <span> <br> LIDL </span> </h3> <div class="description"> <p> <span> MANDAG til SØNDAG </span> :<br> <span class=" title-light">Fra 08:00 til 22:00</span> </p> </div> </div> </div> <div id="3" class="col-12 col-md-6 col-lg-3 col bg-dark text-light"> <div class="item "> <div class="picto-wrap"> <i class="picto icon-movie-clap"></i> </div> <h3 class="whats-hot-title text-uppercase"> <span> <br> CinemaxX </span> </h3> <div class="description"> <p> <span> MANDAG, TIRSDAG, ONSDAG, TORSDAG, SØNDAG </span> :<br> <span class=" title-light">Fra 00:30 til 21:30</span> </p> <p> <span> FREDAG, LØRDAG </span> :<br> <span class=" title-light">Fra 00:30 til 12:00</span> </p> </div> </div> </div> <div id="4" class="col-12 col-md-6 col-lg-3 col bg-lighter text-dark link-dark last"> <div class="item "> <div class="picto-wrap"> <i class="picto picto icon-supermarket"></i> </div> <h3 class="whats-hot-title text-uppercase"> <span> <br> Apotek </span> </h3> <div class="description"> <p> <span> MANDAG til SØNDAG </span> :<br> <span class=" title-light">Fra 10:00 til 20:00</span> </p> </div> </div> </div> </div> </div> </div> </section> <section class="opening-address-goto even" id="exceptional-opening"> <div class="container"> <div class="row flex-column flex-lg-row"> <div class="col-12 col-lg-12 exceptional-opening-block"> <div class="exceptional-opening"> <h2 class="content-title text-uppercase text-center">Andre åbningstider</h2> <div class="list-dates-wrap d-flex flex-column flex-lg-row align-items-lg-center"> <ul class="list-dates"> <li class="item-date pr-lg-4"> <div class="w-100"> <span class="date">27. november</span> <div class="activity-list mt-0"> <div class="w-100 d-flex activity-wrap flex-column flex-lg-row mb-3 mb-lg-0 border-0"> <span class="date font-weight-normal pl-0">Black Friday</span> <span class="schedule pl-0">08:00 til 22:00</span> </div> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">18. december</span> <span class="schedule"> 10:00 til 22:00<br> </span> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">19. december</span> <span class="schedule"> 10:00 til 22:00<br> </span> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">20. december</span> <span class="schedule"> 10:00 til 22:00<br> </span> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">21. december</span> <span class="schedule"> 10:00 til 22:00<br> </span> </div> </div> </li>  <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">22. december</span> <span class="schedule"> 10:00 til 22:00<br> </span> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">23. december</span> <span class="schedule"> 10:00 til 22:00<br> </span> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">24. december</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pr-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">25. december</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> </ul> <ul class="list-dates right"> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">26. december</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">31. december</span> <span class="schedule"> 10:00 til 15:00<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">1. januar</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">1. april</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">2. april</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">4. april</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">5. april</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">13. maj</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> <li class="item-date pl-lg-4"> <div class="w-100"> <div class="d-flex flex-column flex-lg-row"> <span class="date">23. maj</span> <span class="schedule"> Lukket<br> </span> </div> </div> </li> </ul> </div> <div class="more text-uppercase d-lg-none d-sm-none" id="viewmoreopeninghrs"> <a href="#viewmoreopeninghrs" onclick="return ViewAllOpeningHrs()"> Se mere<br> <i class="picto icon-go-down-arrow"></i> </a> </div> </div> </div> </div> </div> </section> <section class="opening-address-goto odd" id="accessinfo"> <div class="container"> <div class="row flex-column flex-lg-row"> <div class="col-12 col-lg-7"> <div class="d-flex flex-column regular-opening-hours"> <div class="exceptional-opening"> <h2 class="content-title text-uppercase text-center">Faste åbningstider</h2> <div class="list-dates-wrap"> <ul class="list-dates"> <li class="item-date d-flex flex-lg-row active"> <span class="date">mandag</span> <span class="schedule">10:00 til 20:00</span> </li> <li class="item-date d-flex flex-lg-row "> <span class="date">tirsdag</span> <span class="schedule">10:00 til 20:00</span> </li> <li class="item-date d-flex flex-lg-row "> <span class="date">onsdag</span> <span class="schedule">10:00 til 20:00</span> </li> <li class="item-date d-flex flex-lg-row "> <span class="date">torsdag</span> <span class="schedule">10:00 til 20:00</span> </li> <li class="item-date d-flex flex-lg-row "> <span class="date">fredag</span> <span class="schedule">10:00 til 20:00</span> </li> <li class="item-date d-flex flex-lg-row "> <span class="date">lørdag</span> <span class="schedule">10:00 til 20:00</span> </li> <li class="item-date d-flex flex-lg-row "> <span class="date">søndag</span> <span class="schedule">10:00 til 20:00</span> </li> </ul> </div> </div> </div> </div> <div class="col-12 col-lg-5" id="address-info"> <div class="address-block" id="access-center"> <h2 class="content-title text-uppercase text-center mt-0">Find vej</h2> <div class="address-wrap"> <span class="picto icon-center"></span> <div class="address-content"> <div class="center-name text-uppercase font-weight-bold"> Fisketorvet </div> <div class="center-address"> Havneholmen 5<br> København V<br> 1561 </div> </div> </div> </div> </div> </div> </div> </section> <section class="opening-address-goto even">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="how-togo-sc">
                        <h2 class="content-title mt-0 text-uppercase text-center">Hvordan man kommer dertil</h2> <div class="how-togo-wrap">
                            <div class="access-tabs"> <ul class="nav nav-pills nav-tabs" role="tablist"> <li role="presentation" class="nav-item gtmTransportDisplayEvent" data-gtmevent="transportDisplay" data-gtmtransportationmode="Car" onclick="fngtmTransportDisplay(this)"> <a class="nav-link  active" id="BIL-tab" data-toggle="pill" href="#BIL" role="tab" aria-controls="BIL" aria-selected="false"> <i class="picto picto icon-car"></i> <span>BIL</span> </a> </li> <li role="presentation" class="nav-item gtmTransportDisplayEvent" data-gtmevent="transportDisplay" data-gtmtransportationmode="WalkBike" onclick="fngtmTransportDisplay(this)"> <a class="nav-link  " id="CYKEL-tab" data-toggle="pill" href="#CYKEL" role="tab" aria-controls="CYKEL" aria-selected="false"> <i class="picto picto icon-foot-bike"></i> <span>CYKEL</span> </a> </li> <li role="presentation" class="nav-item gtmTransportDisplayEvent" data-gtmevent="transportDisplay" data-gtmtransportationmode="Train" onclick="fngtmTransportDisplay(this)"> <a class="nav-link  " id="Tog-tab" data-toggle="pill" href="#Tog" role="tab" aria-controls="Tog" aria-selected="false"> <i class="picto picto icon-train"></i> <span>Tog</span> </a> </li> <li role="presentation" class="nav-item gtmTransportDisplayEvent" data-gtmevent="transportDisplay" data-gtmtransportationmode="Movia" onclick="fngtmTransportDisplay(this)"> <a class="nav-link  " id="Bus-tab" data-toggle="pill" href="#Bus" role="tab" aria-controls="Bus" aria-selected="false"> <i class="picto picto icon-bus"></i> <span>Bus</span> </a> </li> </ul> </div> <div class="how-togo-wrap-content tab-content" id="pills-tabContent">
                                <div class="tab-pane fade  active show" id="BIL" role="tabpanel" aria-labelledby="BIL-tab"> <div class="description access-services"> <div class="card"> <h3 class="center-access-heading">Find vej</h3> <div class="center-access-chapo"><p>Tager du bilen til Fisketorvet, er det let at finde vej. Fra København kører du ad H.C. Andersens Boulevard mod Langebro. Drej til højre ad Kalvebod Brygge. Kommer du sydfra? Ringvej 2 kører lige til Fisketorvet.</p> <p>&nbsp;</p> <p><img alt="Bil" src="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/AccessPoint/fisketorvet_map_bil.ashx?h=260&amp;w=462&amp;la=da-DK&amp;revision=ca12e8dd-d18d-485a-82b2-37bdc5da305b" width="462" height="260"></p> </div> </div> </div> <div class="cta-block text-center"> <a href="#googlemaps" class="link-button btn-dark-transparent scrollToHidden">Beregn min rejseplan</a> </div> </div> <div class="tab-pane fade  " id="CYKEL" role="tabpanel" aria-labelledby="CYKEL-tab">
                                    <div class="description access-services">
                                        <div class="card">
                                            <h3 class="center-access-heading">Find vej</h3> <div class="center-access-chapo">
                                                <p>
                                                    Alle cykelister og gående, som kommer fra Islands Brygge og Amager, kan tage smutvejen over havnen via Bryggebroen til Fisketorvet.
                                                    Cykelslangen
                                                    Cyklister kan benytte broen "Cykelslangen" der snor sig forbi Fisketorvet, og sørger for du ikke skal stå af og trække cyklen på vejen over havnen.
                                                </p> <p>&nbsp;</p> <p>&nbsp;<img alt="Cykel" src="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/AccessPoint/fisketorvet_map_cykel.ashx?la=da-DK&amp;revision=dd160817-7a08-408a-a6df-3b86cf7166a6" width="462" height="260"></p>
                                            </div>
                                        </div>
                                    </div> <div class="cta-block text-center"> <a href="#googlemaps" class="link-button btn-dark-transparent scrollToHidden">Beregn min rejseplan</a> </div>
                                </div> <div class="tab-pane fade  " id="Tog" role="tabpanel" aria-labelledby="Tog-tab"> <div class="description access-services"> <div class="card"> <h3 class="center-access-heading">Find vej</h3> <div class="center-access-chapo"><p>Kommer du med tog til Fisketorvet, vælger du linierne A, E, B, C eller H. Stå af på Dybbølsbro Station - det er kun ét stop fra Hovedbanegården - og gå over broen. Gåturen tager kun et par minutter.</p> <p>&nbsp;</p> <p><img alt="Tog" src="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/AccessPoint/fisketorvet_map_tog.ashx?la=da-DK&amp;revision=30480be9-1e16-438e-9aac-e067028c13ad" width="462" height="260"></p> </div> </div> </div> <div class="cta-block text-center"> <a href="#googlemaps" class="link-button btn-dark-transparent scrollToHidden">Beregn min rejseplan</a> </div> </div> <div class="tab-pane fade  " id="Bus" role="tabpanel" aria-labelledby="Bus-tab">
                                    <div class="description access-services">
                                        <div class="card">
                                            <h3 class="center-access-heading">Find vej</h3> <div class="center-access-chapo">
                                                <style>
 .card-body p img{
 width: 462px;
 height: 260px;
 }
 </style> <p style="text-align: center;"><strong>Buslinier 7A 10 97N</strong></p> <p style="text-align: center;"><strong>7A</strong>&nbsp;kører lige til døren, Du kan fx stige på Linie 7A ved Hovedbanegården.&nbsp;<br> <br> <strong>10</strong>&nbsp;stopper 5 minutters gang fra Fisketorvets hovedindgang. Du kan fx stige på Linie 10 på Rådhuspladsen&nbsp; eller ved Hovedbanegården.&nbsp;<br> <br> <strong>97N</strong>&nbsp;er en natbus og kører lige til døren.</p> <p>&nbsp;</p> <p style="text-align: center;"><img alt="Bus" src="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/AccessPoint/fisketorvet_map_bus.ashx?la=da-DK&amp;revision=f48ad5a6-c1cd-4dc5-af80-85c144d28661" style="text-align: center;"></p>
                                            </div>
                                        </div>
                                    </div> <div class="cta-block text-center"> <a href="#googlemaps" class="link-button btn-dark-transparent scrollToHidden">Beregn min rejseplan</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    var centerLatitude = '55.662947';
        var centerLongitude = '12.562348';</script> <section id="googlemaps" class="odd"> <div class="container"> <div class="header-title d-flex align-items-baseline flex-wrap justify-content-lg-between mb-3"> <div class="title"> <h2>Beregn min rejseplan</h2> </div> </div> <div class="access-center"> <div class="row"> <div class="access-tabs js-access-tab"> <ul class="nav nav-tabs" role="tablist"> <li role="presentation" class="active analytics_googlemapitineraryclk"> <label class="nav-link active"> <input type="radio" onclick="calcRoute('55.662947','12.562348')" name="mode" id="car" value="DRIVING" checked=""> <span class="picto icon-srv-cars gtmCommonEvents" data-gtmevent="mapInteraction"></span> </label> </li> <li role="presentation" class="analytics_googlemapitineraryclk"> <label class="nav-link"> <input type="radio" onclick="calcRoute('55.662947', '12.562348')" name="mode" id="foot" value="WALKING"> <span class="picto icon-foot-bike gtmCommonEvents" data-gtmevent="mapInteraction"></span> </label> </li> <li role="presentation" class="analytics_googlemapitineraryclk"> <label class="nav-link"> <input type="radio" onclick="calcRoute('55.662947', '12.562348')" name="mode" id="transit" value="TRANSIT"> <span class="picto icon-srv-trains-metro gtmCommonEvents" data-gtmevent="mapInteraction"></span> </label> </li> </ul> </div> <div class="col"> <form class="global-form d-flex align-items-center justify-content-between address-search" action="#" method="GET" novalidate="novalidate"> <div class="form-group w-100 mr-2"> <label for="SearchText" aria-label="search-text" class="picto icon-search"></label> <input class="form-control search-input" id="targetAddress" type="text" required="" aria-required="true" placeholder="Indtast din adresse"> </div> <div class="form-group input-submit"> <input type="button" class="gtmCommonEvents form-control" data-gtmevent="itineraryLaunch" onclick="calcRoute('55.662947', '12.562348')" value="OK"> </div> </form> </div> </div> <div id="googleMap" class="googlemap gtmCommonEvents" data-gtmevent="mapInteraction" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;" class="gm-style"><div style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;" tabindex="0"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -116, -93);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -116, -93);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;"></div></div></div><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; left: -14px; top: -43px; z-index: 0;"><img style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" draggable="false"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -116, -93);"><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17526!3i10257!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=11804"></div><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17527!3i10258!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=84865"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17526!3i10258!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=62544"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17528!3i10257!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=56446"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17527!3i10257!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=34125"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17526!3i10259!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=113284"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17528!3i10259!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=26855"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17527!3i10259!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=4534"></div><div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17525!3i10259!4i256!2m3!1e0!2sm!3i534255530!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=57668"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17528!3i10258!4i256!2m3!1e0!2sm!3i534255542!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=107186"></div><div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17525!3i10258!4i256!2m3!1e0!2sm!3i534255530!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=6928"></div><div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17529!3i10257!4i256!2m3!1e0!2sm!3i534255434!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=85176"></div><div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17525!3i10257!4i256!2m3!1e0!2sm!3i534255518!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=125166"></div><div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17529!3i10258!4i256!2m3!1e0!2sm!3i534255434!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=4845"></div><div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img style="width: 256px; height: 256px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i17529!3i10259!4i256!2m3!1e0!2sm!3i534255350!2m6!1e2!2straffic!4m2!1st!2s2676899!5i1!3m17!2sda-DK!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0!5m1!5f2&amp;key=AIzaSyCp7EDnMCLe8ueaDSdnevfv4lNndzpB_Tk&amp;token=57382"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 27px; height: 43px; overflow: hidden; position: absolute; opacity: 0.0001; left: -14px; top: -43px; z-index: 0;"><img style="position: absolute; left: 0px; top: 0px; width: 27px; height: 43px; user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" draggable="false" usemap="#gmimap0"><map name="gmimap0" id="gmimap0"><area log="miw" coords="13.5,0,4,3.75,0,13.5,13.5,43,27,13.5,23,3.75" shape="poly" tabindex="-1" title="" style="cursor: pointer; touch-action: none;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe aria-hidden="true" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: medium none;" frameborder="0"></iframe><div></div><div></div><div><div style="padding: 5px; z-index: 0; position: absolute; right: 0px; top: 0px;"><div style="background-color: white; border: 1px solid; cursor: pointer; text-align: center;" title="Hide the current traffic"><div style="font-family: Arial, sans-serif; font-size: 12px; padding-left: 4px; padding-right: 4px;"><b>Hide Traffic<b></b></b></div></div></div></div><div></div><div><button style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; margin: 10px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; display: none; top: 26px; right: 0px;" draggable="false" title="Slå fuld skærm til/fra" aria-label="Slå fuld skærm til/fra" type="button" class="gm-control-active gm-fullscreen-control"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A"></button></div><div></div><div></div><div></div><div></div><div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; user-select: none; position: absolute; bottom: 95px; right: 40px;" draggable="false" controlwidth="40" controlheight="81"><div class="gmnoprint" style="position: absolute; left: 0px; top: 0px;" controlwidth="40" controlheight="81"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;"><button style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;" draggable="false" title="Zoom ind" aria-label="Zoom ind" type="button" class="gm-control-active"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A"></button><div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"></div><button style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;" draggable="false" title="Zoom ud" aria-label="Zoom ud" type="button" class="gm-control-active"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A"><img style="height: 18px; width: 18px;" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A"></button></div></div></div></div><div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=55.662947,12.562348&amp;z=15&amp;t=m&amp;hl=da-DK&amp;gl=US&amp;mapclient=apiv3" title="Åbn dette området i Google Maps (åbner i et nyt vindue)"><div style="width: 66px; height: 26px; cursor: pointer;"><img style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px none; padding: 0px; margin: 0px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png" draggable="false"></div></a></div></div><div></div><div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 196px; bottom: 0px; width: 117px;"><div draggable="false" style="user-select: none; height: 14px; line-height: 14px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Kortdata</a><span>Kortdata ©2020 Google</span></div></div></div><div class="gmnoprint gm-style-cc" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 128px; bottom: 0px;" draggable="false"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);" href="https://www.google.com/intl/da-DK_US/help/terms_maps.html" target="_blank" rel="noopener">Servicevilkår</a></div></div><div draggable="false" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Rapporter fejl i vejkortet eller billederne til Google" dir="ltr" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;" href="">Rapporter en fejl på kortet</a></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Kortdata ©2020 Google</div></div></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 347px; top: 100px;"><div style="padding: 0px 0px 10px; font-size: 16px; box-sizing: border-box;">Kortdata</div><div style="font-size: 13px;">Kortdata ©2020 Google</div><button style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;" draggable="false" title="Luk" aria-label="Luk" type="button" class="gm-ui-hover-effect"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;"></button></div></div></div></div> </div> <div id="itineraire"></div> </div> </section>
    <script>
    var showSidebar = false;
        var mapURL = 'https://mapserver.visioglobe.com/kf0bd9fc3bc6353c6e18b0fbd09e964d052902202/descriptor.json';
        var visioGlobeStoreList = [{ storeId: "110", strSIName: "3 butikken", pageURL: "/store/3 butikken/63296", storeType: 1036 }, { storeId: "135", strSIName: "And Kebab", pageURL: "/restaurant/And Kebab/72706", storeType: 1037 }, { storeId: "126", strSIName: "Apotek", pageURL: "/store/Apotek/63302", storeType: 1036 }, { storeId: "201", strSIName: "Bahne", pageURL: "/store/Bahne/63304", storeType: 1036 }, { storeId: "221", strSIName: "Beauty Care", pageURL: "/store/Beauty Care/63306", storeType: 1036 }, { storeId: "206", strSIName: "Beauty Hair", pageURL: "/store/Beauty Hair/63308", storeType: 1036 }, { storeId: "149", strSIName: "Bertoni", pageURL: "/store/Bertoni/63310", storeType: 1036 }, { storeId: "105;107", strSIName: "Bog & Idé", pageURL: "/store/Bog _o_ Idé/63311", storeType: 1036 }, { storeId: "125", strSIName: "BR", pageURL: "/store/BR/63313", storeType: 1036 }, { storeId: "245A", strSIName: "Bræt & Brikker", pageURL: "/store/Bræt _o_ Brikker/63317", storeType: 1036 }, { storeId: "106", strSIName: "Bruun & Stengade", pageURL: "/store/Bruun _o_ Stengade/63315", storeType: 1036 }, { storeId: "301", strSIName: "Bryggen 89", pageURL: "/restaurant/Bryggen 89/63477", storeType: 1037 }, { storeId: "120", strSIName: "Carat Diamanter", pageURL: "/store/Carat Diamanter/63323", storeType: 1036 }, { storeId: "226", strSIName: "Carhartt WIP", pageURL: "/store/Carhartt WIP/63325", storeType: 1036 }, { storeId: "147A", strSIName: "Change", pageURL: "/store/Change/63327", storeType: 1036 }, { storeId: "100", strSIName: "CinemaxX", pageURL: "/store/CinemaxX/63329", storeType: 1036 }, { storeId: "255A", strSIName: "Consol Spray Tan & Solcenter", pageURL: "/store/Consol Spray Tan _o_ Solcenter/63331", storeType: 1036 }, { storeId: "07", strSIName: "Cph Bilpleje", pageURL: "/store/Cph Bilpleje/63333", storeType: 1036 }, { storeId: "118", strSIName: "Creme Fraiche", pageURL: "/store/Creme Fraiche/63335", storeType: 1036 }, { storeId: "00C", strSIName: "Cyprus", pageURL: "/restaurant/Cyprus/63472", storeType: 1037 }, { storeId: "1A", strSIName: "Dalle Valle", pageURL: "/restaurant/Dalle Valle/63474", storeType: 1037 }, { storeId: "147", strSIName: "Deichmann", pageURL: "/store/Deichmann/63337", storeType: 1036 }, { storeId: "102A", strSIName: "Design-Flower", pageURL: "/store/Design-Flower/63340", storeType: 1036 }, { storeId: "209B", strSIName: "Det Gamle Apotek", pageURL: "/store/Det Gamle Apotek/74413", storeType: 1036 }, { storeId: "133D", strSIName: "MAUI", pageURL: "/restaurant/MAUI/73545", storeType: 1037 }, { storeId: "251", strSIName: "Dressmann", pageURL: "/store/Dressmann/63342", storeType: 1036 }, { storeId: "249", strSIName: "Dressmann XL", pageURL: "/store/Dressmann XL/63344", storeType: 1036 }, { storeId: "153", strSIName: "Elgiganten", pageURL: "/store/Elgiganten/63347", storeType: 1036 }, { storeId: "144", strSIName: "Espresso House", pageURL: "/restaurant/Espresso House/63476", storeType: 1037 }, { storeId: "136", strSIName: "Foot Locker", pageURL: "/store/Foot Locker/63351", storeType: 1036 }, { storeId: "cashier-001", strSIName: "Forex hæveautomat", pageURL: "/store/Forex hæveautomat/63300", storeType: 1036 }, { storeId: "101", strSIName: "Føtex", pageURL: "/store/Føtex/63352", storeType: 1036 }, { storeId: "255", strSIName: "Geographical Norway", pageURL: "/store/Geographical Norway/74412", storeType: 1036 }, { storeId: "243A", strSIName: "Glitter", pageURL: "/store/Glitter/63356", storeType: 1036 }, { storeId: "129A", strSIName: "Gorm's", pageURL: "/restaurant/Gorm_t_s/63475", storeType: 1037 }, { storeId: "217; 115", strSIName: "H&M", pageURL: "/store/H_o_M/63358", storeType: 1036 }, { storeId: "140", strSIName: "Humac", pageURL: "/store/Humac/63360", storeType: 1036 }, { storeId: "130", strSIName: "Hunkemöller", pageURL: "/store/Hunkemöller/63362", storeType: 1036 }, { storeId: "245", strSIName: "Imerco Home", pageURL: "/store/Imerco Home/63367", storeType: 1036 }, { storeId: "1B", strSIName: "Indiana Mexican Restaurant", pageURL: "/restaurant/Indiana Mexican Restaurant/63478", storeType: 1037 }, { storeId: "114", strSIName: "Jack & Jones", pageURL: "/store/Jack _o_ Jones/74299", storeType: 1036 }, { storeId: "241", strSIName: "Joe and The Juice", pageURL: "/restaurant/Joe and The Juice/63479", storeType: 1037 }, { storeId: "235A", strSIName: "Just Thai", pageURL: "/restaurant/Just Thai/63481", storeType: 1037 }, { storeId: "", strSIName: "JYSK", pageURL: "/store/JYSK/63364", storeType: 1036 }, { storeId: "", strSIName: "Kcal Factory", pageURL: "/restaurant/Kcal Factory/74557", storeType: 1037 }, { storeId: "133C", strSIName: "Khorn", pageURL: "/restaurant/Khorn/63480", storeType: 1037 }, { storeId: "255A_1", strSIName: "Kim Q Hair Design", pageURL: "/store/Kim Q Hair Design/63368", storeType: 1036 }, { storeId: "232", strSIName: "Kings & Queens", pageURL: "/store/Kings _o_ Queens/63374", storeType: 1036 }, { storeId: "133B", strSIName: "Kiosk Bien", pageURL: "/restaurant/Kiosk Bien/63491", storeType: 1037 }, { storeId: "", strSIName: "Klubtilbud", pageURL: "/public/Klubtilbud/63492", storeType: 1040 }, { storeId: "132", strSIName: "Ladies Nails", pageURL: "/store/Ladies Nails/74462", storeType: 1036 }, { storeId: "144A", strSIName: "Letz Sushi", pageURL: "/restaurant/Letz Sushi/63482", storeType: 1037 }, { storeId: "129B", strSIName: "Levi's", pageURL: "/store/Levi_t_s/63376", storeType: 1036 }, { storeId: "2A", strSIName: "Liberty Burgers & Grill", pageURL: "/restaurant/Liberty Burgers _o_ Grill/63483", storeType: 1037 }, { storeId: "05", strSIName: "Lidl", pageURL: "/store/Lidl/63378", storeType: 1036 }, { storeId: "116", strSIName: "Louis Nielsen", pageURL: "/store/Louis Nielsen/63382", storeType: 1036 }, { storeId: "238", strSIName: "Masai", pageURL: "/store/Masai/63388", storeType: 1036 }, { storeId: "255A_2", strSIName: "Master Tattoo & Piercing", pageURL: "/store/Master Tattoo _o_ Piercing/63384", storeType: 1036 }, { storeId: "109", strSIName: "Matas", pageURL: "/store/Matas/63387", storeType: 1036 }, { storeId: "00A", strSIName: "McDonalds", pageURL: "/restaurant/McDonalds/63485", storeType: 1037 }, { storeId: "216", strSIName: "Message", pageURL: "/store/Message/63390", storeType: 1036 }, { storeId: "214", strSIName: "Monki", pageURL: "/store/Monki/63392", storeType: 1036 }, { storeId: "247", strSIName: "Mr. Mantra", pageURL: "/store/Mr_d_ Mantra/63394", storeType: 1036 }, { storeId: "", strSIName: "NA-KD", pageURL: "/store/NA-KD/74476", storeType: 1036 }, { storeId: "113", strSIName: "Neye", pageURL: "/store/Neye/63397", storeType: 1036 }, { storeId: "cashier265;cashier376", strSIName: "Nordea", pageURL: "/store/Nordea/63401", storeType: 1036 }, { storeId: "265", strSIName: "Normal", pageURL: "/store/Normal/63403", storeType: 1036 }, { storeId: "271", strSIName: "Only", pageURL: "/store/Only/63405", storeType: 1036 }, { storeId: "263", strSIName: "Ønskebørn", pageURL: "/store/Ønskebørn/63407", storeType: 1036 }, { storeId: "", strSIName: "PALÆO", pageURL: "/restaurant/PALÆO/74504", storeType: 1037 }, { storeId: "204", strSIName: "Paradis", pageURL: "/restaurant/Paradis/63486", storeType: 1037 }, { storeId: "", strSIName: "Parkering", pageURL: "/public/Parkering/63493", storeType: 1040 }, { storeId: "139", strSIName: "Peak Performance", pageURL: "/store/Peak Performance/63412", storeType: 1036 }, { storeId: "", strSIName: "Personalshopper", pageURL: "/public/Personalshopper/63494", storeType: 1040 }, { storeId: "123", strSIName: "Philly's", pageURL: "/restaurant/Philly_t_s/72640", storeType: 1037 }, { storeId: "124B", strSIName: "Phone-Rep", pageURL: "/store/Phone-Rep/63414", storeType: 1036 }, { storeId: "122A", strSIName: "Pilgrim", pageURL: "/store/Pilgrim/63418", storeType: 1036 }, { storeId: "129E", strSIName: "Plaza", pageURL: "/store/Plaza/63420", storeType: 1036 }, { storeId: "Location", strSIName: "Posthus", pageURL: "/store/Posthus/63353", storeType: 1036 }, { storeId: "", strSIName: "Ren Cykel", pageURL: "/store/Ren Cykel/63422", storeType: 1036 }, { storeId: "209A", strSIName: "Rituals", pageURL: "/store/Rituals/63424", storeType: 1036 }, { storeId: "154;06", strSIName: "SATS", pageURL: "/store/SATS/63349", storeType: 1036 }, { storeId: "138", strSIName: "Selected", pageURL: "/store/Selected/63428", storeType: 1036 }, { storeId: "165", strSIName: "Silvan", pageURL: "/store/Silvan/63430", storeType: 1036 }, { storeId: "269", strSIName: "Skoringen", pageURL: "/store/Skoringen/63435", storeType: 1036 }, { storeId: "243B", strSIName: "Søstrene Grene", pageURL: "/store/Søstrene Grene/63437", storeType: 1036 }, { storeId: "133A; 231", strSIName: "Sport 24", pageURL: "/store/Sport 24/63441", storeType: 1036 }, { storeId: "39", strSIName: "SportMaster", pageURL: "/store/SportMaster/63439", storeType: 1036 }, { storeId: "102", strSIName: "Starbucks Coffee", pageURL: "/restaurant/Starbucks Coffee/63487", storeType: 1037 }, { storeId: "1C", strSIName: "Sunset Boulevard", pageURL: "/restaurant/Sunset Boulevard/63489", storeType: 1037 }, { storeId: "128", strSIName: "Superdry", pageURL: "/store/Superdry/63443", storeType: 1036 }, { storeId: "104", strSIName: "Sv. Michelsen Chokolade", pageURL: "/restaurant/Sv_d_ Michelsen Chokolade/63490", storeType: 1037 }, { storeId: "119", strSIName: "Telenor", pageURL: "/store/Telenor/63445", storeType: 1036 }, { storeId: "112", strSIName: "Telia", pageURL: "/store/Telia/63447", storeType: 1036 }, { storeId: "151", strSIName: "The Body Shop", pageURL: "/store/The Body Shop/63449", storeType: 1036 }, { storeId: "209", strSIName: "Vero Moda", pageURL: "/store/Vero Moda/63453", storeType: 1036 }, { storeId: "108", strSIName: "YouSee", pageURL: "/store/YouSee/63455", storeType: 1036 }, { storeId: "159;261", strSIName: "Zara", pageURL: "/store/Zara/63457", storeType: 1036 }, { storeId: "129C", strSIName: "Zizzi", pageURL: "/store/Zizzi/63459", storeType: 1036 }]
        viewParams = {
            cameraRadius: 395,
            floorName: '1',
            initialX: '0',
            initialY: '0',
            cameraType: 'orthographic'
        }
        var visioGlobeStoreId = '';
        logoUrl = '';</script> <section class="even"> <div class="container" id="mapofthemall"> <div class="header-title d-flex align-items-baseline flex-wrap justify-content-lg-between mb-3"> <div class="title mb-1 mb-lg-0"> <h2>Center kort</h2> </div> </div> <div id="vg_mapviewer" class="visioglobe"> <div id="vg_footer" class="noselect vg_footer"> <div class="pull-right" id="route_container" style="display:none"> <button id="route_clear" class="vg_button"> <span id="route_clear_img"></span> <span id="route_clear_label">Clear Route</span> </button> </div> <div class="pull-left floor_container" id="floor_container"> <div id="change_floor"><button class="vg_button change_floor" type="button" data-floor="0" id="floor_link0">0</button> <button class="vg_button change_floor selected" type="button" data-floor="1" id="floor_link1">1</button> <button class="vg_button change_floor" type="button" data-floor="2" id="floor_link2">2</button> <button class="vg_button change_floor" type="button" data-floor="3" id="floor_link3">3</button> </div> </div> </div> <div id="mapContainer" class="leaflet-container leaflet-fade-anim" style="background-color: rgb(255, 255, 255);"><canvas width="1242" height="500" style="width: 994px; height: 400px; touch-action: none; user-select: none;"></canvas></div> <div id="progress" style="display: none;"> <input value="0" data-width="150" data-readonly="true" data-thickness=".2" data-fgcolor="#00afcf" data-bgcolor="#292c2e" class="knob" readonly="readonly"> </div> <div id="instructions" class="instructions hidden"> <div id="vg_statusbar" style="top: -100px;"> <div class="info"> </div> </div> </div> <div> <button id="zoomIn" class=""> Forstør </button> <button id="zoomOut" class=""> Formindsk </button> </div> </div>           <div id="poiContainer" class="hidden"></div> <div style="display: none;"> <div id="place_bubble"> <div id="place_bubble_title">Title</div> <div id="place_bubble_close_button"></div> <div id="place_bubble_info_button"></div> <button id="place_bubble_set_origin" class="vg_button route_choice_button" data-direction="src" type="button">Set Origin</button> <button id="place_bubble_set_waypoint" class="vg_button route_choice_button" data-direction="waypoint" type="button">Set Waypoint</button> <button id="place_bubble_set_destination" class="vg_button route_choice_button" data-direction="dst" type="button">Set Destination</button> </div> </div> </div> </section>
    <script>
    var visioLoop = setInterval(InitiateMapLoading, 1000);
        function InitiateMapLoading() {
            if (footerLoad != undefined && !footerLoad && loadMap != undefined) {
                clearInterval(visioLoop);
                jQuery.getScript((mapjs), function (data, textStatus, jqxhr) {
                    if (window.visioGlobeStoreList != undefined && window.visioGlobeStoreId != undefined && window.logoUrl != undefined) {
                        if (jQuery('#mapofthemall').length > 0) {
                            loadMap(visioGlobeStoreId, visioGlobeStoreList, logoUrl);
                        }
                    }
                });
            }
        }</script> <section class="access-contact odd" id="contact"> <div class="container"> <div class="header-title d-flex align-items-baseline flex-wrap justify-content-lg-between mb-3"> <div class="title mb-1 mb-lg-0"> <h2>Kontakt</h2> </div> </div> <div class="row access-block flex-column-reverse flex-md-row"> <div class="col-12 col-md-6 p-lg-0"> <div class="access-content h-100 d-flex flex-column justify-content-center align-items-center text-center"> <div class="title mb-3"></div> <div class="description mb-4"></div> <a href="/contact" class="link-button btn-dark-transparent gtmClickNavigation" data-gtmclicklabel="ContactUs" data-gtmclickposition="hp-customPush">KONTAKT FISKETORVET</a> </div> </div> <div class="col-12 col-md-6 p-0"> <div class="img-wrap"> <img class="img-fluid" src="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/brand/ft_brand_infodesk2_1080x450.ashx?revision=3d2cd6e6-ea88-4a9b-92f1-b7d1f2a22d7d" data-alt="https://cdn.urw.com/-/media/Unibail/Country~o~DK/Fisketorvet/Images/brand/ft_brand_infodesk2_1080x450.ashx?revision=3d2cd6e6-ea88-4a9b-92f1-b7d1f2a22d7d" alt=""> </div> </div> </div> </div> </section> <div class="modal popin-search" role="dialog" id="searchPopin">
        <div class="modal-dialog modal-popin-search">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="global-form search-form"> <div class="container"> <div class="form-group"> <label for="SearchText" aria-label="search-text" class="picto icon-search"></label> <input type="text" name="focus" required="" class="form-control" id="SearchText" placeholder="Søg…" autofocus=""> <button class="picto icon-close-search-btn" aria-label="search-close" type="reset" id="searchTextReset"></button> </div> </div> </form> <div class="search-wrapper" id="searchContent"> </div> <div class="search-wrapper" id="searchContent1">
                        <div class="search-landing container" id="searchNewStoresList" style="display:none">
                            <div class="search-title">
                                <h2>Nyt i dit center </h2>
                            </div>
                            <div class="categories row">
                                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                    <div class="block store-wrap with-logo">
                                        <div class="store-img">
                                            <img src="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/retailer/logos/szhs3ef0khqe7uu4cqnx.png" alt="Ladies Nails">
                                        </div>
                                        <a class="stretched-link store-name gtmNewStoreNavigation" data-gtmclickposition="/search-bar/popin" href="/store/Ladies%20Nails/74462">Ladies Nails</a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                    <div class="block store-wrap with-logo">
                                        <div class="store-img">
                                            <img src="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/retailer/logos/ayol8c0va53yanbh77zq.png" alt="Kcal Factory">
                                        </div>
                                        <a class="stretched-link store-name gtmNewStoreNavigation" data-gtmclickposition="/search-bar/popin" href="/restaurant/Kcal%20Factory/74557">Kcal Factory</a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                    <div class="block store-wrap with-logo">
                                        <div class="store-img">
                                            <img src="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/retailer/logos/iwokjkkt2abkoapasslg.png" alt="NA-KD">
                                        </div>
                                        <a class="stretched-link store-name gtmNewStoreNavigation" data-gtmclickposition="/search-bar/popin" href="/store/NA-KD/74476">NA-KD</a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                    <div class="block store-wrap with-logo">
                                        <div class="store-img">
                                            <img src="https://res.cloudinary.com/westfielddg/image/upload/westfield-media/dk/retailer/logos/kldt2qlblpu1kgtadh1o.png" alt="PALÆO">
                                        </div>
                                        <a class="stretched-link store-name gtmNewStoreNavigation" data-gtmclickposition="/search-bar/popin" href="/restaurant/PAL%c3%86O/74504">PALÆO</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="search-no-results container" id="search-no-results" style="display:none">
                            <div class="search-title">
                                <h2>Ups.. Ingen resultater fundet.</h2>
                                <p>Ingen panik. Der er mange ting at opdage:</p>
                            </div>
                            <div class="search-no-results-wrap">
                                <div class="categories row">
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                        <div class="block store-wrap with-logo">
                                            <div class="store-img">
                                                <img src="https://cdn.urw.com/-/media/Unibail/Global/Picto/WEB_MandatoryMenu_NoResult_Search/ico_ph_shops.ashx?revision=3ab73219-b86b-4779-8626-609e7ef1b145" alt="" title="Butikker">
                                            </div>
                                            <a href="/stores" class="stretched-link store-name gtmSearchNavigation">Butikker</a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                        <div class="block store-wrap with-logo">
                                            <div class="store-img">
                                                <img src="https://cdn.urw.com/-/media/Unibail/Global/Picto/WEB_MandatoryMenu_NoResult_Search/ico_ph_restaurants.ashx?revision=4abff9cd-3848-4785-8720-4bbf42bc24ab" alt="" title="Restauranter">
                                            </div>
                                            <a href="/restaurants" class="stretched-link store-name gtmSearchNavigation">Restauranter</a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                        <div class="block store-wrap with-logo">
                                            <div class="store-img">
                                                <img src="https://cdn.urw.com/-/media/Unibail/Global/Picto/WEB_MandatoryMenu_NoResult_Search/ico_ph_movie.ashx?revision=0b6b3b5e-d2b1-4bad-b5c2-bbbad606bc1a" alt="" title="Biograf">
                                            </div>
                                            <a href="/cinema" class="stretched-link store-name gtmSearchNavigation">Biograf</a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                        <div class="block store-wrap with-logo">
                                            <div class="store-img">
                                                <img src="https://cdn.urw.com/-/media/Unibail/Global/Picto/WEB_MandatoryMenu_NoResult_Search/services.ashx?revision=7c99572f-51e7-4980-bc2b-f93707fdc83a" alt="" title="Services">
                                            </div>
                                            <a href="/services" class="stretched-link store-name gtmSearchNavigation">Services</a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                        <div class="block store-wrap with-logo">
                                            <div class="store-img">
                                                <img src="https://cdn.urw.com/-/media/Unibail/Global/Picto/WEB_MandatoryMenu_NoResult_Search/infos.ashx?revision=f7cb5d20-09ad-402d-b6ea-3d3f828bde38" alt="" title="Åbningstider">
                                            </div>
                                            <a href="/access" class="stretched-link store-name gtmSearchNavigation">Åbningstider</a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
                                        <div class="block store-wrap with-logo">
                                            <div class="store-img">
                                                <img src="https://cdn.urw.com/-/media/Unibail/Global/Picto/WEB_MandatoryMenu_NoResult_Search/vip-card.ashx?revision=d059ae69-6420-4633-8ca0-fe9a060d364f" alt="" title="Fordelsklub">
                                            </div>
                                            <a href="/loyaltyprogram" class="stretched-link store-name gtmSearchNavigation">Fordelsklub</a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="manageable">
                                </ul>
                            </div>
                        </div>
                    </div> <div class="search-result container" id="getsearchresult"> <div class="boutiques-restaurants" id="search-store-block"> <div class="title" id="storeTitle"> <span id="storeCountTitle"> </span> </div> <div class="row result-list" id="ulStores" style="display:none"> <div id="storesresult" class="col-6 col-sm-4 col-lg-6 mb-1"> <span class="new-tap pink" id="liSpanStoreName"></span> <div class="block store-wrap with-logo"> <div class="store-img"> <img src="" alt="" title="" id="liImage"> <span class="picto icon-ico-ph-shops" style="display:none" id="liSpanStoresDefaultPicto"></span> <span class="picto icon-srv-restaurant" style="display:none" id="liSpanRestaurantsDefaultPicto"></span> </div> <a href="" class="stretched-link store-name gtmSearchNavigation" id="liDescriptionAnchor"> </a> </div> </div> </div> </div> <div class="cinema" id="search-cinema-block"> <div class="title" id="filmTitle"> <span></span> </div> <div class="result-list" id="ulFilms" style="display:none"> <div id="liFilms"> <div class="block movie-wrap" id="movieblock"> <div class="movie-img"> <img src="" alt="" id="liImgFilms"> <span class="picto icon-srv-cinema" id="liSpanFilms" style="display:none"></span> </div> <a class="movie-name stretched-link" href="" id="liDescriptionAnchorMovie"></a> <div class="offer-tap" id="liDescriptionAnchorOffer"></div> </div> </div> <div id="liDistributor"> <div class="block movie-wrap with-logo"> <div class="movie-img"> <img src="" alt="" id="liImageDistributor1"> <img src="" alt="" style="display:none" id="liImageDistributor2"> </div> <a class="movie-name stretched-link" href="" id="liDescriptionAnchorDistributor"></a> </div> </div> </div> </div> <div class="services" id="search-service-block"> <div class="title" id="serviceTitle"> <span id="serviceCountTitle"> </span> </div> <div class="row result-list" id="ulServices" style="display:none"> <div class="col-6 col-sm-4 col-lg-6 mb-1" id="servicesresult"> <div class="block service-wrap with-logo"> <div class="service-picto"> <span class="picto" id="liServicePicto"></span> <span class="picto icon-servicesaspictosservices" id="liDefaultPicto" style="display:none"></span> </div> <a class="service-name stretched-link gtmSearchNavigation" href="" id="liServiceDescription"></a> </div> </div> </div> </div> </div> <div id="luxLanguage" style="display:none">da-DK</div> <div id="luxPass" style="display:none">CeQlIMFtWI8796alqZBpCCNxCLOiMgMJ</div>
                </div>
            </div>
        </div>
    </div>
</div>
